<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../styles/style.css"
    />
  </head>
  <body>
    <header class="header">
      <div class="barra contenedor">
        <div class="logo">
          <img
            src="../assets/logo/pokeLogo-modified.png"
            style="width: 200px"
          />
        </div>
        <nav class="navegacion">
          <a href="#">Home</a>
          <a href="#">Pokedex</a>
          <a href="#">Legendaries</a>
          <a href="#">Documentation</a>
        </nav>
      </div>
    </header>
    <section class="contenedorBarraSuperior">
      <div class="divWidth">
        <p class="contenedorBarraSuperiorBold">
          800 Pokemons for you to choose your favorite
        </p>
      </div>
      <br /><br />
      <div class="divWidth centrar">
        <input
          type="text"
          id="inputSearch"
          class="inputStyle"
          placeholder="Search your favorite Pokemon"
        />
        <button onclick="fetchPokemon()">Change Pokemon</button>
      </div>
    </section>

    <section class="contenedorBarraSuperior marginTOPPP">
      <div class="menu">
        <div class="pasteles">
          <div style="width: 40%;">
            <p
              id="nombrePoke"
              style="
                color: black;
                font-weight: bold;
                font-size: 40;
                text-align: center;
                padding-top: 1rem;
              "
            >
              Pokemon
            </p>
            <div
              style="
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin-top: 1rem;
              "
            >
              <div class="circulo" id="att"></div>
              <div class="circulo" id="def"></div>
            </div>
            <div
              style="
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin-top: 1rem;
              "
            >
              <div>Attack</div>
              <div>Defense</div>
            </div>
            <div
              style="
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin-top: 1rem;
              "
            >
              <div id="tipo" class="tipoPokeButton"></div>
            </div>
          </div>
          <div style="width: 60%;">
            <img
              src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
              alt="Pastel de tres leches"
              class="img"
              id="pokeImg"
            />
          </div>
        </div>
      </div>
    </section>
  </body>
  <footer>
    <script src="../js/main.js"></script>
  </footer>
</html>
